body {
    margin: 0 auto;
    text-align: center;
}
nav {
    position: fixed;
    height: 50px;
}
.registrationBox {
    background: red;
}
.logoSmall {
    height: 40px;
}
.logoTitle {
    font-family: "Pacifico", cursive;
    font-size: 30px;
}
